@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --bg: #fff;
  --text: #222;
}
.dark {
  --bg: #18181b;
  --text: #fafafa;
}
body {
  background: var(--bg);
  color: var(--text);
}
