@import './tailwind.css';
@import './animation.css';
@import './cross-line.css';
@import './code-highlight.css';

/* body 的基础样式 */
body {
  background: var(--body-bg-color);
  color: var(--body-color);
  font-weight: 400;
  letter-spacing: 0.5px;
  /* 如果 View Transitions API 不可用或 JS 被禁用，提供一个基础的 CSS 过渡效果 */
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
  font-family: Inter, sans-serif;
  line-height: var(--body-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Inter, sans-serif;
  line-height: 1.4;
  margin-top: 0;
  letter-spacing: -0.02em;
  font-weight: 600;
  color: var(--headings-color);
  transition: color 0.3s ease-out;
}

h1,
.h1 {
  font-size: 1.8rem;
}

h2,
.h2 {
  font-size: 1.6rem;
}

h3,
.h3 {
  font-size: 1.35rem;
}

h4,
.h4 {
  font-size: 1.15rem;
}

h5,
.h5 {
  font-size: 1.1rem;
}

h6,
.h6 {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 1.6rem;
  }

  h2,
  .h2 {
    font-size: 1.45rem;
  }

  h3,
  .h3 {
    font-size: 1.3rem;
  }

  h4,
  .h4 {
    font-size: 1.15rem;
  }

  h5,
  .h5 {
    font-size: 1.1rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }
}

.heading-divider {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  flex-shrink: 0;
  color: var(--accent-color);
  background-color: currentColor;
}

.heading-divider::after,
.heading-divider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid currentColor;
  animation: divider-heading-pulse 2s ease-in-out infinite;
}

.heading-divider::after {
  animation-delay: 1s;
}
.heading-title {
  background: linear-gradient(to right, var(--accent-color), var(--accent-color)) no-repeat right
    bottom;
  background-size: 0 2px;
  transition:
    background-size 0.5s,
    color 0.5s;
}
.heading-title:hover {
  background-position: left bottom;
  background-size: 100% 2px;
  color: var(--accent-color);
}

.term-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(4px);
  height: 1px;
  opacity: 0;
  transition: 0.3s;
  background: var(--term-color, var(--accent-color));
}

.term-item:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.icon-svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.marquee-wrap {
  animation: marquee-right 70s linear infinite;
}

.menu-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #a0a3b430;
  transition: 0.3s;
  transform: scaleX(0);
  height: 100%;
  border-radius: 4px;
  opacity: 0;
  cursor: pointer;
}

.menu-item:hover::before {
  transform: scale(1) translate(0, 0);
  opacity: 1;
}

/* 为包含图片效果的组件设置一个父级类，方便悬停触发 */
.profile-image-container:hover .image-wrapper.has-animation > img {
  filter: blur(8px);
  opacity: 0;
  transform: scaleX(1.5);
}

.profile-image-container:hover .image-animation > img {
  filter: blur(0);
  opacity: 1;
  transform: scaleX(1);
}
.profile-image-container:hover .business-card {
  filter: blur(30px);
  opacity: 0;
}

.profile-image-container .business-card {
  transition: all 0.4s;
}
/* 图片的外层容器 */
.image-wrapper {
  position: relative; /* 必须是相对定位，为内部绝对定位的元素提供基准 */
  overflow: hidden; /* 隐藏图片放大或移动时超出的部分，这是效果的关键 */
}

/* 默认显示的图片 (当拥有 has-animation 类时) */
.image-wrapper.has-animation > img {
  transform-origin: right;
  transition: all 0.8s;
}

/* 动画层：用于放置第二张图片 */
.image-animation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* 动画层里的图片 (初始状态) */
.image-animation img {
  transform-origin: left;
  filter: blur(8px);
  opacity: 0;
  transform: scaleX(1.5);
  transition: all 0.8s;
}