@import 'tailwindcss';

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

:root {
  --site-width: 1400px;
  --sidebar-width: 24.375rem;
  --accent-color: #ff5671;
}

@theme inline {
  --color-headings-color: var(--headings-color);
  --color-body-bg: var(--body-bg-color);
  --color-body-color: var(--body-color);
  --color-accent: var(--accent-color);
  --color-term: var(--term-color);
  --color-card-bg: var(--card-bg);
  --width-content-width: min(100%, var(--site-width));
  --width-sidebar-width: var(--sidebar-width);
  --color-divider: #7f818540;
}

/* 亮色模式 */
[data-theme='light'] {
  --body-bg-color: #f5f5fa;
  --term-color: #26bda7;
  --body-color: #474c5d;
  --headings-color: #2f2e35;
  --shadow-soft: 0 4px 25px #25252e1f;
  --soft-radius: 12px;
  --btn-radius: 50px;
  --body-line-height: 1.8;
  --card-bg: #fff;
}

/* 深色模式 */
[data-theme='dark'] {
  --term-color: #26bda7;
  --soft-radius: 12px;
  --btn-radius: 50px;
  --body-line-height: 1.8;

  --body-color: #e3e7ed;
  --body-bg-color: #1f2328;
  --headings-color: #fff;
  --soft-white: #ffffff0f;
  --soft-black: #0000000f;
  --soft-black-2: #31384030;
  --shadow-soft: none;
  --card-bg: #272c31;
}
